<main class="conexion">
    <header class="masthead d-flex">
            <div class="container mb-3 text-center " >

                <h1 class="mb-3">-Información necesaria para conectarse con el ventilador-</h1>
                <h4 id="scrollspyHeading1" class="mb-4">
                    <em>1/9.- Ingresar a la tarjeta SD las animaciones deseadas.</em>
                </h4>
                <h4 id="scrollspyHeading2" class="mb-4">
                    <em>2/9.- Conectar el ventilador a la corriente.</em>
                </h4>
                <h4 id="scrollspyHeading3" class="mb-4">
                    <em>3/9.- Encender el ventilador usando el control infrarrojo.</em>
                </h4>
                <h4 id="scrollspyHeading4" class="mb-4">
                    <em>4/9.- Desde la computadora seleccionar la red del ventilador.</em>
                </h4>
                <h4 id="scrollspyHeading5" class="mb-4">
                    <em>5/9.- Conectar el control de presentación en el puerto USB.</em>
                </h4>
                <h4 id="scrollspyHeading6" class="mb-4">
                    <em>6/9.- Abrir la aplicación desde la laptop.</em>
                </h4>
                <h4 id="scrollspyHeading7" class="mb-4">
                    <em>7/9.- Esperar a que esta se conecte al servidor.</em>
                </h4>
                <h4 id="scrollspyHeading6" class="mb-4">
                    <em>8/9.- Ingresar usuario y contraseña.</em>
                </h4>
                <h4 id="scrollspyHeading7" class="mb-4">
                    <em>9/9.- Seleccionar la animación que se desea reproducir y seleccionar el boton play.</em>
                </h4>
                <a class="btn btn-primary btn-lg" href="/signin">
                    ¡Inicia sesión aquí!
                </a>
            <div class="overlay"></div>
        </div>
    </header>
</main>