<main class="contactus">
    <header class="masthead d-flex">
            <div class="container mb-3 text-center my-auto">
                {{!<img src="/img/Logo_Tec_azul.png" alt="Logo Tec" class="card-img-top mx-auto m-2">}}
                <h1 class="mb-3">-Estudiantes de TEC CCM-</h1>
                <h2 class="mb-4">
                    <em>ITSE</em>
                </h2>
                <h4 class="mb-4">
                    <em>Bianca Nuñez, A01336483</em>
                </h4>
                <h4 class="mb-4">
                    <em>Ulises Nieto, A01655666</em>
                </h4>
                <h4 class="mb-4">
                    <em>Arturo Reyna, A01654610</em>
                </h4>
                <h4 class="mb-4">
                    <em>Miguel Ángel Espinosa, A01339422</em>
                </h4>
                <a class="btn btn-primary btn-lg" href="/signin">
                    ¿Quieres ver algo genial? ¡Regístrate!
                </a>
            <div class="overlay"></div>
        </div>
    </header>
</main>






