<main class="geogebra">
    <header class="masthead d-flex">
            <div class="container mb-3 text-center " >

                <h1 class="mb-3">-Información necesaria para generar materiales en Geogebra-</h1>
                <h4 id="scrollspyHeading1" class="mb-4">
                    <em>1/5.- Se debe introducir la o las funciones a modelar en 3d en geogebra en línea. </em>
                </h4>
                <h4 id="scrollspyHeading2" class="mb-4">
                    <em>2/5.- Una vez con el modelo 3d, este se descarga mediante el botón de exportar. Es necesario seleccionar los planos x y y, así como un grueso bajo en la figura.</em>
                </h4>
                <h4 id="scrollspyHeading3" class="mb-4">
                    <em>3/5.- Ya con el modelo, este se importa a Paint 3d y se pone un fondo completamente negro.</em>
                </h4>
                <h4 id="scrollspyHeading4" class="mb-4">
                    <em>4/5.- Paint 3d cuenta con distintas opciones para generar grabaciones, se elige una velocidad de rotación de la pieza y se exporta un video a la computadora.</em>
                </h4>
                <h4 id="scrollspyHeading5" class="mb-4">
                    <em>5/5.- El video se importa al software del ventilador 3d.</em>
                </h4>
                <a class="btn btn-primary btn-lg" href="/signin">
                    ¡Inicia sesión aquí!
                </a>
            <div class="overlay"></div>
        </div>
    </header>
</main>
