<main class="index">
    <header class="masthead d-flex">
        <div class="container mb-3 text-center my-auto">
            <h1 class="mb-3">
                -Clases favoritas-
            </h1>
            <h3 class="mb-4">
                <em>Haz tus clases una realidad en 3D</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">
                ¡Empecemos!
            </a>
            <div class="overlay"></div>
        </div>
    </header>
</main>

