<main class="rhino">
    <header class="masthead d-flex">
            <div class="container mb-3 text-center " >

                <h1 class="mb-3">-Información necesaria para generar materiales en Rhino-</h1>
                <h4 id="scrollspyHeading1" class="mb-4">
                    <em>1/7.- Descargar una imagen 3D desde alguna página que ofrezca opciones de imágenes. Si se desea realizar la imagen, se necesita modelar directamente en el programa.</em>
                </h4>
                <h4 id="scrollspyHeading2" class="mb-4">
                    <em>2/7.- Una vez que se haya descargado la imagen, se importa a Rhino mediante el comando con el mismo nombre. </em>
                </h4>
                <h4 id="scrollspyHeading3" class="mb-4">
                    <em>3/7.- Seleccionar la opción de creación de animación y seleccionar la opción de movimiento de la cámara</em>
                </h4>
                <h4 id="scrollspyHeading4" class="mb-4">
                    <em>4/7.- Grabar la animación con el botón de empezar y terminar grabación.</em>
                </h4>
                <h4 id="scrollspyHeading5" class="mb-4">
                    <em>5/7.- Esto generará una serie de fotogramas con los cuales se forma la animación.</em>
                </h4>
                <h4 id="scrollspyHeading6" class="mb-4">
                    <em>6/7.- Estos fotogramas se insertan a un software que los una en un video, ya sea en línea o local.</em>
                </h4>
                <h4 id="scrollspyHeading7" class="mb-4">
                    <em>7/7.- Una vez que se tenga el video, este se sube al software del ventilador 3d y se reproduce.</em>
                </h4>
                <a class="btn btn-primary btn-lg" href="/signin">
                    ¡Inicia sesión aquí!
                </a>
            <div class="overlay"></div>
        </div>
    </header>
</main>
